@font-face {
    font-family: 'Best Ten Dot';
    src: url("fonts/BestTen-DOT.ttf");
}

* {
    font-family: "Best Ten Dot";
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #222;
    color: #eee;
}

.h1Furigana {
    font-size: 0.8rem;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: #eee;
}

.content-blocks {
    margin: 1rem;
    border: #222 4px solid;
    border-radius: 2rem;
    padding: 1rem;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #222;
    color: #eee;
}