@font-face {
    font-family: 'Best Ten Dot';
    src: url("fonts/BestTen-DOT.ttf")
}

* {
    font-family: "Best Ten Dot"
}

body {
    margin: 0
}

.main__startScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* 背景を暗くする（透明度調整可能） */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__startScreen__content {
    align-items: center;
}

.main__startScreen__content h2,
.main__startScreen__content p {
    color: #fff;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #222;
    color: #eee
}

.header__h1Furigana {
    font-size: .8rem
}

h1 {
    margin: 0
}

main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: #eee
}

.main__contentBlocks {
    margin: 1rem;
    border: #222 4px solid;
    border-radius: 2rem;
    padding: 1rem
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #222;
    color: #eee
}

button {
    padding: .5rem;
    border-radius: 3px;
    border: 1px solid #222;
    background-color: #eee;
    margin: .5rem
}

button:hover {
    opacity: 50%
}